body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.profile-menu {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    margin: 50px auto;
}

.profile-menu img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-menu h1 {
    font-size: 24px;
    margin: 10px 0;
}

.profile-menu p {
    font-size: 16px;
    color: #888;
    margin: 5px 0;
}
